# --- JAVA & MAVEN ---
target/
!.mvn/wrapper/maven-wrapper.jar
/temp/
*.class
*.log
*.ctxt

# --- SPRING BOOT ---
HELP.md
.mvn/
.metadata/

# --- INTELLIJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/
gen/

# --- VS CODE ---
.vscode/
.factorypath

# --- ECLIPSE / STS ---
.apt_generated
.classpath
.project
.settings
.springBeans
.sts4-cache

# --- NETBEANS ---
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# --- SISTEMA ---
.DS_Store
Thumbs.db
desktop.ini